.facebacks h2 {
  margin-top: 20px;
}

.facebacks form {
  margin-top: 20px;
}

.faceback .btn {
  font-size: 1000%;
  width: 100%;
  height: 100%;
  font-family: courier;
  background-image: none;
}

.happy, .happy:hover {
  background-color: green;
}

.pse, .pse:hover {
  background-color: yellow;
}

.sad, .sad:hover {
  background-color: red;
}

#thanks {
  position: fixed;
  top:0;
  width:100%;
  background-color: #0480be;
  text-align: center;
  padding: 3em;
}

#thanks span {
  font-size: 70px;
  color: #ffffff;
}
